<%- include('../partials/header') %>

<h2>Enter a New Flight</h2>
<form action="/flights" method="POST">
	<label>Airline:
	  <input class="float-right" type="text" name="airline">
	</label><br><br>
	<label>Flight Number:
	  <input class="float-right" type="text" name="flightNo">
	</label><br><br>
    <label>Flight Date:
        <input class="float-right" type="datetime-local">
	</label><br><br>
	<label>Airport:
	</label>
		<select class="float-right" name="airport">
			<option value="AUS">AUS</option>
			<option value="DAL">DAL</option>
			<option value="LAX">LAX</option>
			<option value="SAN">SAN</option>
			<option value="SEA">SEA</option>
		</select>
		<br><br><br>
	<input class="float-right" type="submit" value="Add Flight">
</form>

<%- include('../partials/footer') %>
